# MERGE

In [1]:
import numpy as np
import pandas as pd

In [6]:
df1 = pd.DataFrame({'key': ['a', 'b', 'd'],'data1': range (3)})
df1

  key  data1
0   a      0
1   b      1
2   d      2

In [7]:
df2 = pd.DataFrame({'key': ['a', 'b', 'c', 'd', 'e', 'f', 'g'],'data2': range (7)})
df2

  key  data2
0   a      0
1   b      1
2   c      2
3   d      3
4   e      4
5   f      5
6   g      6

In [14]:
pd.merge(df1, df2)                                        #merge merges the arrays.

  key  data1  data2
0   a      0      0
1   b      1      1
2   d      2      3

In [19]:
#  merging done on index bases.  
#  merging done when data has same columns
df3 ['key1'] = ['c', 'e', 'e', 'm', 'f', 'n'] 
df4['key2'] = ['m', 'f' 'j']

ValueError: Length of values does not match length of index

In [20]:
df1 = pd.DataFrame({'key': ['a', 'b', 'd'],'data1': range (3)})
df1
df2 = pd.DataFrame({'key': ['a', 'b', 'c', 'd', 'e', 'f', 'g'],'data2': range (7)})
df2

  key  data2
0   a      0
1   b      1
2   c      2
3   d      3
4   e      4
5   f      5
6   g      6

In [29]:
df3 = pd.DataFrame({'lkey': ['a', 'b', 'c', 'd', 'e', 'f', 'g'], 'df3': range (7)})
df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'],'data4': range (3)})


df4

  rkey  data4
0    a      0
1    b      1
2    d      2

In [30]:
 df3

  lkey  df3
0    a    0
1    b    1
2    c    2
3    d    3
4    e    4
5    f    5
6    g    6

In [28]:
pd.merge (df3, df4, left_on='lkey', right_on='rkey')  #left and right mentioned so output won't be= error for the reason 
#                                                     that merging s done on 'same column basis.'

  lkey  df3 rkey  data4
0    a    0    a      0
1    b    1    b      1
2    d    3    d      2

In [31]:
pd.merge (df3, df4, left_on='lkey', right_on='rkey', how='outer')
#  by default it is inner, where the homogeneous elements were+, changed to outer so hetrogeneous elelments would also be

  lkey  df3 rkey  data4
0    a    0    a    0.0
1    b    1    b    1.0
2    c    2  NaN    NaN
3    d    3    d    2.0
4    e    4  NaN    NaN
5    f    5  NaN    NaN
6    g    6  NaN    NaN

# JOINT/ CONCATENATE

join Join strings in each element of the Series with passed separator

ValueError: len(left_on) must equal the number of levels in the index of "right"

In [33]:
right2= pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [13, 14]],
                    index=['b', 'c', 'd', 'e'],
                    columns= ['Missouri', 'Alabama'])
right2

   Missouri  Alabama
b       7.0      8.0
c       9.0     10.0
d      11.0     12.0
e      13.0     14.0

In [35]:
left2= pd.DataFrame([[1., 2.], [3., 4.], [5., 6.]],
                   index= ['a', 'c', 'e'],
                   columns=['Ohio', 'Nevada'])
left2

   Ohio  Nevada
a   1.0     2.0
c   3.0     4.0
e   5.0     6.0

In [37]:
# pd.merge (left2, right2)



# MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None,
# left_index=False, right_index=False

In [39]:
# concatenation done on when column name => same

In [40]:
#  concat, join, merge ===> book

In [44]:
df1= pd.DataFrame (np.arange(6).reshape(3, 2), index =['a', 'b', 'c'], 
                    columns=['one', 'two'])
df1

   one  two
a    0    1
b    2    3
c    4    5

In [ ]:
# df2 = pd.DataFrame(5+ np.arange(4).reshape(2, 2), index=['a', 'c'],
                  columns=['one', 'two'])
df2

# Deep Learning with Python

In [ ]:
pip install tensorflow

Collecting tensorflow
  Downloading https://files.pythonhosted.org/packages/2a/5c/f1d66de5dde6f3ff528f6ea1fd0757a0e594d17debb3ec7f82daa967ea9a/tensorflow-2.0.0-cp37-cp37m-manylinux2010_x86_64.whl (86.3MB)
     |████████████████████            | 53.9MB 106kB/s eta 0:05:07    |▋                               | 1.7MB 119kB/s eta 0:11:50     |█████████                       | 24.1MB 103kB/s eta 0:10:00

In [ ]:
# except 1.15 topics are to be read. book deep learning.