# SERIES OBJECT

In [1]:
#  series in Pandas >>> single valued ..  Pandas provide specified index with series d/f b/t Numpy series & pandas

In [2]:
import pandas as pd

In [4]:
obj = pd.Series([4, 7, -5, 3])
print (obj)


#  associated index also printed by default. i.e Pandas provide not only values but index as well.

0    4
1    7
2   -5
3    3
dtype: int64

In [7]:
sales = pd.Series ([100,200,300,400])
print (sales.values)                  #.values >>> for printing values.

[100 200 300 400]

In [9]:
print (sales.index) 
#  staring index = 0 ending on 4 i.e 4 values with the gap/ step  of 1.

RangeIndex(start=0, stop=4, step=1)

In [11]:
sales = pd.Series ([100,200,300,400], index = ['a', 'b', 'c', 'd'])
print (sales)
#  Index, not necessarily be numeric, can be non numeric i.e it can be changed.

a    100
b    200
c    300
d    400
dtype: int64

In [14]:
print (sales.index)  
#  when data is not numeric or Pandas find data weird it names it as 'Object'

Index(['a', 'b', 'c', 'd'], dtype='object')

In [17]:
sales = pd.Series ([100,200,300,400], index = ['a', 'b', 'c', 'd'], name = ('4 months sale'))
print (sales)
#  "name" provides the name of data with dtype.

a    100
b    200
c    300
d    400
Name: 4 months sale, dtype: int64

In [18]:
canteendata = pd.Series([50, 100, 20, 30, 30], index =[ 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'], name = ('Canteen data for the sale of Sandwiches for a week.'))

In [19]:
print (canteendata)

Monday        50
Tuesday      100
Wednesday     20
Thursday      30
Friday        30
Name: Canteen data for the sale of Sandwiches for a week., dtype: int64

In [21]:
print (canteendata[0])       #data on the index of 0 of canteendata accessed.

50

In [23]:
print (canteendata['Wednesday'])  #data on value of Wed accessed.

20

In [25]:
print (canteendata [0, 3])    #Error

KeyError: (0, 3)

In [26]:
print (canteendata [[0, 3]])   # Multiple values given in array notation i.e double []

Monday      50
Thursday    30
Name: Canteen data for the sale of Sandwiches for a week., dtype: int64

In [28]:
canteendata

Monday        50
Tuesday      100
Wednesday     20
Thursday      30
Friday        30
Name: Canteen data for the sale of Sandwiches for a week., dtype: int64

In [30]:
print (canteendata[canteendata > 30])                  # > 30 values called.
# Pandas read anything provided in [] as called values.

Monday      50
Tuesday    100
Name: Canteen data for the sale of Sandwiches for a week., dtype: int64

In [32]:
canteendata * 2     #data * by 2

Monday       100
Tuesday      200
Wednesday     40
Thursday      60
Friday        60
Name: Canteen data for the sale of Sandwiches for a week., dtype: int64

In [34]:
canteendata     #but original data is same i.e multiplication of 2 is not stored in original values.

Monday        50
Tuesday      100
Wednesday     20
Thursday      30
Friday        30
Name: Canteen data for the sale of Sandwiches for a week., dtype: int64

In [40]:
canteendata = canteendata * 2        #in order for original data to be changed in * of 2, store it again.
print (canteendata )

Monday       2400
Tuesday      4800
Wednesday     960
Thursday     1440
Friday       1440
Name: Canteen data for the sale of Sandwiches for a week., dtype: int64

In [42]:
'Monday' in canteendata                 # "in" operator used to check if some index is present in data or not.

True

In [45]:
import numpy as np
ar = np.array ([1, 2, 3, 5, 6])
index = np.array (['a', 'b', 'c', 'd', 'e'])

obj = pd.Series (ar, index = index)   # This is how the data from numpy used in pandas
#  data be singular i.e like abve given 1 containing only numbers other containing non numeric is called this way

In [46]:
print (obj)

a    1
b    2
c    3
d    5
e    6
dtype: int64

In [49]:
taxdata = {"Sindh": 23000, "KPK": 32000, "Punjab": 45000, "Baluchistan": 56000 }
tax_by_state = pd.Series(taxdata)  #provide dictionary as an input in Pandas series to use.
print(tax_by_state) #dict keys used as Index and values as Values

# This is how data from Dictionaries is called and used.

Sindh          23000
KPK            32000
Punjab         45000
Baluchistan    56000
dtype: int64

In [51]:
tax_by_state.index

Index(['Sindh', 'KPK', 'Punjab', 'Baluchistan'], dtype='object')

In [52]:
tax_by_state.values

array([23000, 32000, 45000, 56000])

In [53]:
taxdata = {"Sindh": 23000, "KPK": 32000, "Punjab": 45000, "Baluchistan": 56000 }
taxbystate = pd.Series (taxdata, index = ['Punjab', 'Sindh', 'KPK', 'Baluchistan'])
print(taxbystate)

# Here in index By keeping Punjab 1st just changed the position & not values i.e Pandas didn't assign 23k to Punj.

Punjab         45000
Sindh          23000
KPK            32000
Baluchistan    56000
dtype: int64

**Source for series data**
* Direct data in the series entry
* Numpy array,
* Python Dictionaries, List

In [58]:
taxdata = {"Sindh": 23000, "KPK": 32000, "Punjab": 45000, "Baluchistan": 56000 }
taxbystate = pd.Series (taxdata, index = ['Punjab', 'Sindh', 'KPK', 'Baluchistan', "Gilgit"])
print(taxbystate)
#  Gilgit has no value so NaN

Punjab         45000.0
Sindh          23000.0
KPK            32000.0
Baluchistan    56000.0
Gilgit             NaN
dtype: float64

In [60]:
print(pd.isnull(taxbystate))
#  .isnull to check which index has value= 0                 >> .isnull = function

Punjab         False
Sindh          False
KPK            False
Baluchistan    False
Gilgit          True
dtype: bool

In [61]:
#  null not = to 0 >>>>>> null means not provided value. empty value = 0 i.e value given = 0 but 
# null means missing value

**SERIES IS JUST A PART OF DATAFRAME**